h1 {
  font-size: 40px;
  font-family: "Martel", serif;
  font-weight: 700px;
  padding-top: 15px;
}

h2 {
  font-size: 18px;
  font-weight: 400px;
  font-family: "Martel", serif;
  margin-top: 20px;
  margin-bottom: 0;
}
h3 {
  font-family: "Martel", serif;
  font-size: 24px;
  padding-top: 5px;
}

img {
  display: block;
  margin: 0 auto;
}

.mainIconDesc {
  text-transform: capitalize;
}

.card {
  margin: 20px auto;
  max-width: 800px;
  background-color: rgb(116, 236, 247, 0.1);
  border: 2px solid rgb(4, 122, 251, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.tempUnits {
  font-size: 14px;
  line-height: 14px;
}

.mainIcon {
  height: 150px;
  position: relative;
  top: -10px;
}

.mainIconDesc {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  display: block;
  text-align: center;
  position: relative;
  top: -18px;
}

.secondaryIcon {
  height: 80px;
}

.form-control {
  width: 75%;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #007bff;
  color: #007bff;
  position: relative;
  top: -2px;
}

#forecast {
  text-align: center;
  font-family: "Martel", serif;
  font-size: 14px;
}

.developerTag {
  line-height: 1.5;
  text-align: center;
  font-family: "Martel", serif;
}

.col-2 {
  padding: 0 5px;
}

.tempUnits .active {
  color: rgb(0, 0, 0);
}

.active:hover {
  cursor: default;
  text-decoration: none;
}
